#logo{
height: 200px;
width: auto;
margin-right: 10px;
vertical-align: middle;
}
body{
    font-family: 'Poppins', sans-serif;
    color: grey;
    background-color: whitesmoke;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.region-info{
 background-color: #e9ecef;
}
.region-info img{
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#cameroon-map{
    width: 50%;
    height: auto;
    justify-content: flex-end;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.food-festivals{
    background-color: #f1f1f1;
    color: #e67e22;
}